.height-8 {
  height: 2rem;
}

.negative-mt-2 {
  margin-top: -0.5rem;
}

.bg-white {
  background-color: #fff;
}

.absolute {
  position: absolute;
}

.mt-12 {
  margin-top: 3rem;
}

.shadow-large {
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -4px rgba(0, 0, 0, 0.1);
}

.flex {
  display: flex;
}

.place-content-between {
  justify-content: space-between;
}

.navigation-out {
  width: 100%;
  position: relative;
  z-index: 10;
  font-weight: 600;
}

.header {
  margin-left: auto;
  margin-right: auto;
  padding-top: 10px;
  color: white;
}

.m-auto {
  margin: auto;
}

.pt-10 {
  padding-top: 2.5rem;
}

.text-white {
  color: white;
}

.text-center {
  text-align: center;
}

.leading-7 {
  line-height: 1.75rem;
}

.items-center {
  align-items: center;
}

.text-4xl {
  font-size: 2.25rem;
  line-height: 2.5rem;
}

.bg-transparent {
  background-color: transparent;
}

@media (min-width: 768px) {
  .header {
    width: 70%;
  }
}

@media (min-width: 1024px) {
  .header {
    width: 70%;
  }
}

@media (min-width: 1280px) {
  .header {
    width: 70%;
  }
}

.collectionLink {
  font-family: sans-serif;
  color: white;
  text-decoration: none;
  font-size: 15px;
  margin: 0;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}

.background {
  position: fixed;
  height: 100vh;
  width: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
  background-image: url("https://storage.123fakturere.no/public/wallpapers/geiranger.jpg");
  background-size: cover;
  background-position: center center;
  z-index: -1;
}

.back-terms {
  background: #fff;
  width: 750px;
  border-radius: 20px;
  margin: 2.5em auto 2.2em;
}

.title {
  font-family: sans-serif;
}

@media (max-width: 991px) {
  .back-terms {
    width: 70%;
  }
}

.back-terms p {
  font-family: sans-serif;
  font-size: 14px;
  color: rgb(40, 43, 49);
  font-weight: 300;
}

button {
  border: 0 solid #e5e7eb;
  cursor: pointer;
}

/* Original Style */

select .option-item {
  color: #000;
  display: flex;
  justify-content: space-between;
}

.dashnav {
  background: #0f7ee8;
  width: 100%;
  height: 90px;
  display: block;
}

.logoa {
  display: block;
}

.lang-drop {
  display: block;
  cursor: pointer;
  margin-left: 1rem;
}

.lang-dropk {
  display: none;
}

.menu {
  height: 0;
  transition: height 0.3s ease-in-out, opacity 0.3s ease-in-out,
    width 0.3s ease-in-out;
  opacity: 0;
  display: none;
}

.mennu-tie {
  height: 0;
}

.open {
  height: auto;
}

.open-menu-dds {
  display: none;
}

.user-details {
  display: flex;
}

.user-det-icon {
  display: none;
}

.mobile-dropdown-work {
  display: none;
}

.flag-name {
  margin: 0;
  font-family: sans-serif;
  font-weight: 550;
  font-size: 15px;
  color: white;
}

@media (max-width: 590px) {
  .logoa {
    display: none;
  }

  .user-details {
    display: none;
  }

  .user-det-icon {
    display: block;
  }

  .open-menu-dds {
    display: block;
  }

  .lang-dropk {
    display: block;
    color: white !important;
  }

  .menu {
    display: block;
    height: 0;
    transition: height 0.3s ease-in-out, opacity 0.3s ease-in-out,
      width 0.6s ease-in-out;
    opacity: 1;
    overflow: hidden;
    width: 19rem;
    left: 1.2rem;
  }

  .pc-menu {
    display: none;
  }

  .linkCollection {
    width: 100%;
  }

  .linkCollection:hover {
    background: #e7e8ea;
  }

  .mobile-dropdown-work {
    display: block;
  }
}

@media only screen and (min-width: 591px) and (max-width: 767px) {
  .logoa {
    display: none;
  }

  .user-details {
    display: none;
  }

  .user-det-icon {
    display: block;
  }

  .open-menu-dds {
    display: block;
  }

  .lang-dropk {
    display: block;
    color: white !important;
  }

  .mobile-dropdown-work {
    display: block;
    left: 0 !important;
  }

  .menu {
    display: block;
    height: 0;
    transition: height 0.3s ease-in-out, opacity 0.3s ease-in-out,
      width 0.6s ease-in-out;
    opacity: 1;
    overflow: hidden;
    width: 19rem;
    left: 3rem;
    /* left: 1rem; */
  }

  .pc-menu {
    display: none;
  }

  .linkCollection {
    width: 100%;
  }

  .linkCollection:hover {
    background: #e7e8ea;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1260px) {
  .logoa {
    display: none;
  }
  .user-details {
    display: none;
  }

  .mobile-dropdown-work {
    display: block;
    left: 0 !important;
  }

  .user-det-icon {
    display: block;
  }

  .lang-dropk {
    display: block;
    color: white !important;
  }

  .menu {
    display: block;
    height: 0;
    transition: height 0.3s ease-in-out, opacity 0.3s ease-in-out,
      width 0.6s ease-in-out;
    opacity: 1;
    overflow: hidden;
    width: 19rem;
    left: 5rem;
  }

  .pc-menu {
    display: none;
  }

  .open-menu-dds {
    display: block;
  }

  .linkCollection {
    width: 100%;
  }

  .linkCollection:hover {
    background: #e7e8ea;
  }
}
